<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/Proyecto/public/img/short.png" type="image/x-icon">
<link rel="stylesheet" href="/Proyecto/public/css/estilo.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>  
<title>EESN1</title>
</head>
<body>
   <header>
    <img class="img-fluid imagen" width="200px" src="/Proyecto/public/img/titulo.png">
   </header>
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Proyecto/public/views/alumnos.html">Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Proyecto/public/views/egresados.html">Egresados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Proyecto/public/views/contacto.html">Contacto</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
   <div class="fila">
   <aside>
    <img class="imagen2 img-fluid"  src="/Proyecto/public/img/logo escuela.png" width="200px"  align="left">  
   </aside>
  <section class="carousel">
  <h1>ALUMNOS</h1>
  <p>En esta sección podremos encontrar, las actividades que los profesores subirán en sus respectivos años, y en donde los alumnos podrán visualizar las mismas</p>

  <H3><U>ACTIVIDADES POR AÑO</U></H3><br><br>
  <div cl>
  <a class="btn btn-primary btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1QHyJzKd8VEei__qViJ0bGrt1mFUgLmK9" role="button">1° A</a>&nbsp;&nbsp;&nbsp;
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/drive/u/4/folders/1bgQgM9_UFUGsYAhqxDveNZoqyKv_t1Az" role="button">1° B</a>&nbsp;&nbsp;&nbsp;
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/drive/u/4/folders/1bSTomtCe2_pum_ENEZiRpxEQC5IY925s" role="button">1° C</a><br><br>
  <a class="btn btn-info btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1E6duvEbiLEC-gah9lUnURYYi1nrR25Mz" role="button">2° A</a>&nbsp;&nbsp;&nbsp; 
  <a class="btn btn-info btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1CGRdWFlg1wj06gOTZRsfgDNQOFkLUbSh" role="button">2° B</a>&nbsp;&nbsp;&nbsp; 
  <a class="btn btn-info btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/17vWsAfWc11jiiDOUdczotmW7SYNQB75N" role="button">2° C</a>&nbsp;&nbsp;&nbsp; <br><br>
  <a class="btn btn-secondary btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1NpWsiwqUpUie_8zHM5fV4knLC_dIFXP-" role="button">3° A</a>&nbsp;&nbsp;&nbsp; 
  <a class="btn btn-secondary btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1Xn57FefLvbcjFkTE6lfw5WnA1gn5Q4l9" role="button">3° B</a>&nbsp;&nbsp;&nbsp; 
  <a class="btn btn-secondary btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1lpd-ihFzkfwhBgqHsRiKb5kmjady1iDE" role="button">3° C</a>&nbsp;&nbsp;&nbsp; <br><br>
  <a class="btn btn-success btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1FZsU5MJj2xkC-6VIg6_04g0fSOSkeJRY" role="button">4° Economía</a>&nbsp;&nbsp;&nbsp; 
  <a class="btn btn-success btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1PDklgBgvt5jWhxH3l_k4fg5rAYRsoJeK" role="button">4° Naturales</a>&nbsp;&nbsp;&nbsp; 
  <a class="btn btn-success btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/17-MWhiGL632pls97naDB3Lhdf5PQvVy1" role="button">4° Comunicación</a>&nbsp;&nbsp;&nbsp; <br><br>
  <a class="btn btn-danger btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/16sp787xZcc2UYohZBNDn5humeRJucxEU" role="button">5° Economía</a>&nbsp;&nbsp;&nbsp; 
  <a class="btn btn-danger btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/18JuMnkbFFCLNtZFxHf8y4qTUameSIhJ5" role="button">5° Naturales</a>&nbsp;&nbsp;&nbsp; 
  <a class="btn btn-danger btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1UFiLwLYfkAW7OqIsL0hrSps7ztHUO3j0" role="button">5° Naturales Vespertino</a>&nbsp;&nbsp;&nbsp;<br><br>
  <a class="btn btn-warning btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1g56UCIBRjyNVcPuGbkh41UtZoPKlK2Np" role="button">6° Economía</a>&nbsp;&nbsp;&nbsp; 
  <a class="btn btn-warning btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1p5LqZUi2iAe9H0j3yhGniR2NbKjMGOyF" role="button">6° Naturales</a>&nbsp;&nbsp;&nbsp; 
  <a class="btn btn-warning btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/1TsyPoPRH3UHKigbNWCydMfygKWJnQxOp" role="button">6° Naturales Vespertino</a>&nbsp;&nbsp;&nbsp;<br><br>
</div>

</div>
  </section>
</div>
  <footer><span>&copy; Patricio Ferrairone - EMATP INFORMÁTICA </span><br><br>  
    <div class="wrapper">
      <a href="https://www.facebook.com/groups/507606829801123">
         <div class="icon facebook">             
            <div class="tooltip">
               Facebook
            </div>
            <span><i class="fab fa-facebook-f"></i></span>
         </div>
       </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>   
</body>
</html>