<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/Proyecto/public/img/short.png" type="image/x-icon">
<link rel="stylesheet" href="/Proyecto/public/css/estilo.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<title>EESN1</title>
</head>
<body>
   <header>    
    <img class="img-fluid imagen" width="200px" src="/Proyecto/public/img/titulo.png"> 
   </header>
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Proyecto/public/views/alumnos.html">Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Proyecto/public/views/egresados.html">Egresados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Proyecto/public/views/contacto.html">Contacto</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
   <div class="fila">
   <aside>
    <img class="imagen2 img-fluid"  src="/Proyecto/public/img/logo escuela.png" width="200px"  align="left">   
   </aside>
  <section class="carousel">
  <h1>EGRESADOS</h1>  
  <p>En esta sección podrán visualizar las fotos de los egresados, divididas por año.</p><br><br>

  <a class="btn btn-warning btn-lg"  target="_blank" rel="noopener" href="https://drive.google.com/drive/u/4/folders/18gYBryTWlYR4lukdfdw2uwQ2szhmw-UP" role="button">Egresados 2022</a>&nbsp;&nbsp;&nbsp;<br><br>

     
        
      </div>
  </section>
</div>
  <footer>
    <span>&copy; Patricio Ferrairone - EMATP INFORMÁTICA </span><br><br>  
    <div class="wrapper">
      <a href="https://www.facebook.com/groups/507606829801123">
         <div class="icon facebook">
         
            <div class="tooltip">
               Facebook
            </div>
            <span><i class="fab fa-facebook-f"></i></span>
         </div>
       </div>

  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>   
</body>
</html>